<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - TodoList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/css/Bootstrap5.css" rel="stylesheet" />
    <link href="~/css/styleLayout.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body style="background-color:#f4f8ff;">
    <header class="navbar navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" asp-controller="HomeController" asp-action="Index">
                TodoList
            </a>
        </div>
    </header>

    <main class="container mt-4">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted mt-5">
        <div class="container text-center py-3">
            © 2025 - TodoList
        </div>
    </footer>

    <script src="~/js/Bbundlemin.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>

